#.gradle
#/local.properties
#/.idea/workspace.xml
#/.idea/libraries
#.DS_Store
#/build
libro.acn
libro.aux
libro.bbl
libro.blg
libro.glg
libro.glo
libro.gls
libro.glsdefs
libro.idx
libro.ist
libro.lof
libro.log
libro.lot
libro.pdf
libro.synctex.gz
libro.toc
libro.xdy
